input:-webkit-autofill {
	-webkit-text-fill-color: rgb(0, 0, 0) !important;
	box-shadow: 0 0 0 30px white inset;
	-webkit-box-shadow: 0 0 0 30px white inset !important;
}

:root {
  /* --primary-color: #7616bb; */
  --primary-color: #bb1663;
  /* --primary-color: #4b0082; */
  /* --primary-color: #2bccb1; */
  --primary-color: #0e4686;
  --danger-color: red;
  --neutral-color: skyblue;
  --radius-1: 2px;
  --radius-2: 5px;
  --radius-3: 25px;
}

/*  */
::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-track {
  background: #ddd;
}

::-webkit-scrollbar-thumb {
  background: #aaa;
  border-radius: var(--radius-2);
}

::-webkit-scrollbar-thumb:hover {
  background: var(--primary-color);
}
/*  */


@font-face {
  src: url(../assets/fonts/RobotoCondensed-Regular.ttf);
  font-family: rbt;
}

@font-face {
  src: url(../assets/fonts/ONEDAY.otf);
  font-family: o_day;
}

body {
  background-color: #eee;
  padding: 0;
  margin: 0;
}

header nav a {
  color: var(--primary-color);
  padding: 7px 20px;
  border-radius: 25px;
}

main {
  min-height: 100vh;
}

* {
  font-family: rbt;
  outline: none;
}

input, select {
  border: 1px solid #888;
  padding: 5px;
  outline: none;
  font-size: 16px;
}

.btn-primary {
  background-color: var(--primary-color);
  padding: 7px;
  /* width: 150px; */
  border: none;
  border-radius: 2px;
  color: #fff;
  box-shadow: 2px 2px 2px 2px #aaa;
}

input:focus {
  border-color: var(--primary-color);
}

button, input[type="submit"] {
  cursor: pointer;
}

button:active, input[type="submit"]:active {
  opacity: .8;
}

a {
  text-decoration: none;
  color: #000;
}

.card {
  background-color: #fff;
}

.card .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  height: 30px;
  border-bottom: 1px solid #ccc;
}

.card .body {
  padding: 10px;
  border-top: none;
}

.btn-outline {
  background: none;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.btn-primary {
  border-color: #2bccb1;
}

.btn-secondary {
  border-color: orange;
}

.btn-danger {
  border-color: red;
}

.btn-outline-primary {
  color: var(--primary-color);
  border-color: var(--primary-color);
}

/* Model */
.model-template {
  background-color: rgba(0, 0, 0, 0.041);
  height: 370px;
  border-radius: 5px;
  animation: shine 1s 1s infinite;
}

@keyframes shine {
from{opacity: 0.4;} 
 to{opacity: 1;}
}