body {
  margin: 0;
  padding: 0;
  background-color: #f9f9f9;
}

* {
  font-family: Arial, Helvetica, sans-serif;
  outline: none;
}

a {
  text-decoration: none;
  color: #000;
}

/* header */
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 40px;
  background-color: #fff;
  border-bottom: 1px solid #eee;
  padding: 10px;
  position: sticky;
  top: 0;
  z-index: 1;
}

.title {
  text-transform: uppercase;
}

header  .right {
  display: flex;
  align-items: center;
}

header .right select {
  height: 30px;
  margin-left: 20px;
}

header nav a {
  margin-right: 10px;
}

header #a-login {
  border-radius: 25px;
  padding: 7px 5px;
  width: 200px;
  text-align: center;
  border: 1px solid #000;
  margin-right: 10px;
  transition: all .4s ease-in-out;
}

header #a-login:hover {
  background-color: #000;
  color: #fff;
}

/* main */
main {
  min-height: 100vh;
}

#models {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 10px;
  padding: 10px;
}

.model {
  height: 480px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #eee;
}

.model .city-photos {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.model .city-photos span {
  margin-right: 10px;
}

.model .cover {
  flex: 3;
}

.model .description {
  flex: 1;
  padding: 0 10px;
}

/* footer */
footer .top {
  height: 170px;
  padding: 30px;
  background: url(img/always-grey.png);
  background-color: #222;
  display: flex;
  justify-content: space-around;
  color: #eee;
}

footer .top div:nth-child(1) {
  padding: 15px 100px;
}

footer .top i {
  font-size: 32px;
  color: #ddd;
}

footer .top > div {
  flex: 1;
  padding: 10px 15px;
}

footer .bottom {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  background-color: #000;
  color: #fff;
}